.now {
    min-height: 508px;
    background: url(../../image/nowBG.png) center center / cover no-repeat;
    &__descr {
        font-family: 'Tenor Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 150%;
        text-align: center;
        color: #F6F6F6;
        padding-top: 182px;
    }
}