.title {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
    &--jobs {
        padding-top: 160px;
    }
    &--about {
        padding-top: 160px;
    }
    &--master {
        padding-top: 160px;
    }
    &--desing {
        width: 670px;
    }
}